.filtersContainer {
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    padding: 24px;
}

.header {
    font-size: var(--font-size-t2);
    font-weight: var(--font-weight-semibold);
    line-height: 20px;
    color: #333;
    display: block;
    margin-bottom: 20px;
}

.filterGroup:not(:last-child) {
    margin-bottom: 16px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: var(--font-weight-thin);
    color: var(--text-main);
    font-size: var(--font-size-main);
}

.select {
    width: 100%;
    border: 1px solid #E1E3E6;
    background-color: #fff;

    padding: 10px 16px 10px 16px;
    border-radius: var(--border-radius);

}

.select::placeholder {
    color: #999FA6;
    font-style: italic;
}