.card {
    padding: 24px;
    border-radius: var(--border-radius);
    margin-bottom: 16px;
    background-color: #ffffff;
    display: flex;
    gap: 25px;
}



.poster {
    width: 100px;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.posterSpinner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1111;
}


.poster img {
    width: 100%;
    border-radius: var(--border-radius);
    height: auto;
}

.info {
    /* width: 75%; */
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: var(--font-size-t1);
    font-weight: var(--font-weight-bold);
    color: var(--text-main);
    margin-bottom: 14px;
    display: block;
}

.filters {
    flex: 1;
    max-width: 250px;
    margin-right: 20px;
}

.desc_row {
    display: flex;
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-thin);
}

.desc_name {
    width: 106px;
    color: #ABABAB;
}

.desc_val {
    margin: 0;
    width: 80%;
    color: var(--text-main);
}

.desc_row:not(:last-child) {
    margin-bottom: 14px;
}

.poster {
    display: block;
}

.hidden {
    display: none;
}

.rating {
    flex: 1;
}