.customInput {
    padding: 12px;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.customInput::placeholder {
    color: #ABABAB;
}

.customInput:focus {
    border-color: rgba(255, 85, 0, 1);
    outline: none;
}