.header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: #FFFFFF;
    transition: color .2s ease-in-out;

}

.logo:hover {
    color: var(--accent-color);
    transition: color .2s ease-in-out;
}

.action {
    background-color: #FF5500;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: var(--border-radius);
    color: #FFFFFF;
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-medium);
    border: none;
}