.header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.action {
    background-color: #FF5500;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    border: none;
}