.searchBar {
    display: flex;
    align-items: center;
    width: 25%;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 0 12px;
    gap: 8px;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-thin);
    height: 40px;
    color: var(--text-main);
    font-family: 'Roboto', sans-serif;
}

.clearInput:hover {
    cursor: pointer;
}

.input::placeholder {
    color: #999FA6;
}