.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* scroll-snap-align: center; */
}

.actorPhoto {
    height: 265px;
    width: auto;
    border-radius: var(--border-radius);
}

.name {
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-thin);
}