.ratingContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}



.ratingContainer svg {
    width: 16px;
    height: 16px;
    fill: none;
}

.ratingContainer svg:hover,
.ratingContainer svg:hover~svg {
    fill: yellow;
}