.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.container:not(:last-child) {
    padding-right: 8px;
}

.container span {
    font-size: var(--font-size-main);
}

.activeValue {
    color: #000000;
}

.initialValue {
    color: #ABABAB;
}